<th:block th:fragment="footer">
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h6 class="text-uppercase">Nosedive</h6>
                    <p>
                        Nosedive is a free online game.
                        All brands and trademarks on this page belong to their respective owners and are advertised.
                    </p>
                </div>
                <div class="mx-auto col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h6 class="text-uppercase">Social</h6>
                    <p>
                        Follow Monopoly on social networks to stay up to date with game updates.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center p-3">
            © 2024 Copyright: alterdekim
        </div>
    </footer>
</th:block>