.navbar-brand-custom {
    color: #ffffff;
}

.navbar-brand-custom:hover {
    color: #ffffff;
}

.navbar {
    background-color: #37bc9d;
}

.btn-outline-primary {
    border-color: transparent;
    color: #fff;
}

.btn-primary {
    background-color: rgba(255,255,255,.85);
    color: #37bc9d;
    border-color: rgba(255,255,255,.85);
}

.btn-primary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #37bc9d;
}

.btn-outline-primary:hover {
    background-color: rgba(255, 255, 255,0.25);
    border-color: rgba(255, 255, 255,0.25);
}

.page-title {
    font: 700 3.5em Montserrat;
    color: #fff;
}

.page-title-small {
    margin-top: .7em;
    font: 500 1.32em/1.4em Montserrat;
    color: #fff;
}

.main-billboard {
    background-color: #37bc9d;
    height: 700px;
    text-align: center;
    padding-top: 50px;
}

.main-button {
    color: #5b5d67;
    background-color: #fff;
    border-color: #fff;
    font: 600 1.5rem Montserrat;
    padding: 0 0.9em;
    height: 2.1em;
    align-items: center;
    display: inline-flex;
}

.main-button:hover {
    color: #5b5d67;
    background-color: rgba(255, 255, 255, 0.85);
    border-color: rgba(255, 255, 255, 0.85);
    font: 600 1.5rem Montserrat;
    padding: 0 0.9em;
    height: 2.1em;
    align-items: center;
    display: inline-flex;
}

.page-main-button {
    margin-top: 25px;
}

.page-title-second {
    margin-top: 1.25em;
    margin-right: 0px;
    margin-bottom: 1.25em;
    margin-left: 0px;
    font: 700 3.25em Montserrat;
    color: #26272b;
    text-align: center;
}

.billboard-img {
    box-shadow: 0 0 100px rgba(0,0,0,.33);
    width: 900px;
    overflow: hidden;
    pointer-events: none;
}

.billboard-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h4 {
    margin: 0 0 .4em;
    font: 700 2em Montserrat;
}

.col_text {
    font-size: 1.1em;
    text-align: left;
}