.navbar-brand-custom {
    color: var(--dive-white);
}

.navbar-brand-custom:hover {
    color: var(--dive-white);
}

.navbar {
    background-color: var(--dive-primary-color);
}

.btn-outline-primary {
    border-color: transparent;
    color: var(--dive-white);
}

.btn-primary {
    background-color: var(--dive-white-trans);
    color: var(--dive-primary-color);
    border-color: var(--dive-white-trans);
}

.btn-primary:hover {
    background-color: var(--dive-white);
    border-color: var(--dive-white);
    color: var(--dive-primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--dive-white-trans-second);
    border-color: var(--dive-white-trans-second);
}

.page-title {
    font: 700 3.5em Montserrat;
    color: var(--dive-white);
}

.page-title-small {
    margin-top: .7em;
    font: 500 1.32em/1.4em Montserrat;
    color: var(--dive-white);
}

.main-billboard {
    background-color: var(--dive-primary-color);
    height: 700px;
    text-align: center;
    padding-top: 50px;
}

.main-button {
    color: var(--dive-dark-grey-second);
    background-color: var(--dive-white);
    border-color: var(--dive-white);
    font: 600 1.5rem Montserrat;
    padding: 0 0.9em;
    height: 2.1em;
    align-items: center;
    display: inline-flex;
}

.main-button:hover {
    color: var(--dive-dark-grey-second);
    background-color: var(--dive-white-trans);
    border-color: var(--dive-white-trans);
    font: 600 1.5rem Montserrat;
    padding: 0 0.9em;
    height: 2.1em;
    align-items: center;
    display: inline-flex;
}

.page-main-button {
    margin-top: 25px;
}

.page-title-second {
    margin-top: 1.25em;
    margin-right: 0px;
    margin-bottom: 1.25em;
    margin-left: 0px;
    font: 700 3.25em Montserrat;
    color: var(--dive-dark-grey-third);
    text-align: center;
}

.billboard-img {
    box-shadow: 0 0 100px var(--dive-shadow-color);
    width: 900px;
    overflow: hidden;
    pointer-events: none;
}

.billboard-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h4 {
    margin: 0 0 .4em;
    font: 700 2em Montserrat;
}

.col_text {
    font-size: 1.1em;
    text-align: left;
}