:root {
    --dive-white: #fff;
    --dive-grey: #f4f4f5;
    --dive-dark-grey: #e6e9ed;
    --dive-dark-grey-second: #5b5d67;
    --dive-dark-grey-third: #26272b;
    --dive-light-blue-grey: #a7adb5;
    --dive-light-blue-grey-second: #989aa4;
    --dive-light-blue-grey-third: #b9bac1;
    --dive-light-grey: #e6e6e6;
    --dive-weird-blue-grey: #656d78;
    --dive-light-grey-second: #e9eaec;
    --dive-light-grey-third: #f7f7f7;
    --dive-grass-green: #FE7F2D;
    --dive-primary-color: #55D6BE;
    --dive-primary-color-dark: #194039;
    --dive-primary-color-trans: #55D6BEEE;
    --dive-shadow-color: rgba(0,0,0,.33);
    --dive-shadow-second: rgba(0,0,0,.1);
    --dive-white-trans: rgba(255, 255, 255, 0.85);
    --dive-white-trans-second: rgba(255, 255, 255,0.25);
}

.navbar-brand-custom-gradient {
    font-weight: 600;
    background: linear-gradient(90deg, var(--dive-primary-color-dark) 0%, var(--dive-primary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-span {
    background: linear-gradient(90deg, var(--dive-primary-color-dark) 0%, var(--dive-primary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-secondary {
    background-color: var(--dive-grey);
}

.navbar {
    background-color: var(--dive-white);
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dive-grey);
    font-size: 0.875rem;
}

.firefox {
    font-size: 1.0rem;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: var(--dive-dark-grey);
}


.nav-item {
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.btn-outline-primary {
    border-color: transparent;
    color: var(--dive-dark-grey-second);
}

.btn-primary {
    background-color: var(--dive-primary-color);
    color: var(--dive-white);
    border-color: var(--dive-primary-color) !important;
    --bs-btn-active-bg: var(--dive-primary-color);
}

.btn-primary:active {
    background-color: var(--dive-primary-color);
    color: var(--dive-white);
    border-color: var(--dive-primary-color);
    --bs-btn-active-bg: var(--dive-primary-color);
}

.btn-outline-primary:active {
    background-color: var(--dive-primary-color);
    color: var(--dive-white);
    border-color: var(--dive-primary-color) !important;
    --bs-btn-active-bg: var(--dive-primary-color);
}

.btn-primary:hover {
  background-color: var(--dive-primary-color-trans);
  border-color: var(--dive-primary-color-trans);
}

.dropdown-toggle::after {
    border-top: 0px solid;
}

.dropdown-item:active {
    background-color: var(--dive-primary-color) !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: var(--dive-light-grey);
}

.btn-outline-primary:hover {
  background-color: var(--dive-primary-color-trans);
  border-color: var(--dive-primary-color-trans);
}

.navbar-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2em;
}

.navbar-profile-img {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
}